/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

html {
    scroll-behavior: smooth;
}

.book_card ul li {
    width: calc(32% - 20px); /* Trois livres par ligne */
    float: left;
    margin: 10px;
    padding: 10px;
    background-color: #f9f9f9;
    border-radius: 5px;
    box-sizing: border-box;
}

.book_card ul li div.title {
    font-weight: bold;
    word-break: initial;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.book_card  ul li div.author,
.book_card  ul li div.publish-year {
    color: #666;
    margin-top: 5px;
}

nav {
    background-color: #F1F1F1;
    padding-left: 10px;
    padding-right: 10px;
    border-bottom: solid #99C803;
    filter: drop-shadow(0 5px 8px rgb(0 0 0 / 0.03)) drop-shadow(0 4px 5px rgb(0 0 0 / 0.08));
}

.button_book {
    width: 12%;
}

.book_info {
    padding: 15px;
}

.borrows-container {
    display: flex;
    justify-content: center;
    max-width: 1000px;
    margin: 0 auto;
}

.still-borrow, .borrows-history {
    flex: 1;
    list-style-type: none;
    text-align: center;
}

.still-borrow li, .borrows-history li {
    list-style-type: none;
    border: solid 0.01em;
    border-radius: 5px;
}

.user_connected {
    text-align: center;
    margin-top: 10px;
    margin-bottom: 15px;
}

.p_list {
    text-align: center;
    margin-top: 10px;
}

.search_bar {
    margin: 20px;
}
.register_form h2 {
    margin: 15px;
    text-align: center;
}

.login_form h2 {
    margin: 15px;
    text-align: center;
}

.form_render {
    margin: 0 auto;
    justify-content: center;
    width: 800px;
}

.error_explanation ul li {
    list-style-type: circle;
}

.error_explanation {

    justify-content: center;
    align-items: center;
    margin: 10px auto;
    width: 500px;
    border: solid #ef4e44;
    border-radius: 10px;
    background-color: #f3645d;
}

.error_explanation h4 {
    text-align: center;
    color: white;
}

